{% extends "layout.html" %}{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-7 col-lg-5">
    <h1>Login</h1>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="/login" autocomplete="on" class="card card-body d-flex gap-3" method="post">
      <label>Email<input autocomplete="username" class="form-control" name="email" required type="email"/></label
      ><label
    >Password<input
            autocomplete="current-password"
            class="form-control"
            name="password"
            required
            type="password"/></label
    >
      <button class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">Need an account? <a href="/register">Register</a></p>
  </div>
</div>
{% endblock %}
