{% extends "layout.html" %}{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-7 col-lg-5">
    <h1>Login</h1>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form class="card card-body d-flex gap-3" method="post" action="/login" autocomplete="on">
      <label>Email<input class="form-control" type="email" name="email" autocomplete="username" required /></label
      ><label
        >Password<input
          class="form-control"
          type="password"
          name="password"
          autocomplete="current-password"
          required /></label
      ><button class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3">Need an account? <a href="/register">Register</a></p>
  </div>
</div>
{% endblock %}
